.pageContainer {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.tableWrapper {
  overflow-y: auto;
  flex: 1;
  max-height: calc(100vh - 180px);
}

.container {
   flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  overflow: hidden;
  padding: 1.5rem;
  min-width: 0; /* important for scroll to work */
}

.userTable {
    width: 100%;
  min-width: 950px; /* Enough to require scroll on smaller screens */
  border-collapse: collapse;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.userTable th,
.userTable td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 14px;
}

.userTable th {
  font-weight: bold;
  background-color: #131315;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.userTable th:nth-child(1),
.userTable td:nth-child(1) {
  width: 200px;
}

.userTable th:nth-child(2),
.userTable td:nth-child(2) {
  width: 250px;
}

.userTable th:nth-child(3),
.userTable td:nth-child(3) {
  width: 120px;
}

.userTable th:nth-child(4),
.userTable td:nth-child(4) {
  width: 150px;
}

.userTable th:nth-child(5),
.userTable td:nth-child(5) {
  width: 100px;
}

.userTable th:nth-child(6),
.userTable td:nth-child(6) {
  width: 5px;
}

.editInput {
  width: 80%;
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #888;
  border-radius: 4px;
}

.actions button {
  margin-right: 6px;
  padding: 4px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.actions button:hover {
  opacity: 0.9;
}

.userName,
.phoneNumber,
.email,
.country,
.role {
  font-size: 14px;
  color: #444;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 1rem;
}

.pagination button {
  padding: 6px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}

.errorText {
  color: red;
  font-size: 0.75rem;
  margin-top: 4px;
}
